@import url('https://fonts.googleapis.com/css2?family=Pridi:wght@200;300;400;500;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;0,400;0,500;1,500;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Kanit:ital,wght@0,300;0,500;0,600;1,300;1,500;1,600;1,800&display=swap');

:root{
    --fonte-titulos:'Pridi', serif;
    --fonte-txt: 'Roboto', sans-serif;
    --fonte-botoes: 'Kanit', sans-serif;
    --cor0:#61C1D9;
    --cor1:#067BB0;
    --cor2:#076B8F;
    --txt-cor0:#d6bb31;
    --txt-cor1:#0F244F;
    --txt-cor2:#0B76DB;
    --top-cor:#020815;
}
span#txt1{
    font-size: 1.2em;
    font-family: var(--fonte-txt);
    font-weight: 500;
    padding-left: 4px;
}

main{
    width: 90vw;
    margin: auto;
    margin-bottom: 20px;
}

article#focoenem{
    display: flex;
    height: 24em;
    margin-top: 40px;
    background-color: gray;
    border-radius: 20px;
    box-shadow: 7px 7px 14px rgba(0, 0, 0, 0.404);
}

div.esquerda1{
    width: 42%;
    height: 100%;
}
.txt-esquerda-top > h1, .txt-direita-top > h1{
    margin: 0;
    padding: 20px;
    font-size: 2.2em;
    font-family: var(--fonte-titulos);
}
.txt-esquerda-top > p, .txt-direita-top > p{
    margin: 0;
    padding: 30px 8px 0px 8px;
    text-align: justify;
    line-height: 24px;
    text-indent: 20px;
    font-size: 1.2em;
    font-family: var(--fonte-txt);
}

/*==================imagem do topo*================*/
div.centro{
    width: 16%;
    height: 100%;
}
div.centro > div.img-top{
    height: 200px;
    margin-top: 90px;
    border-radius: 50%;
    box-shadow: 0px 6px 10px rgb(44, 44, 44);
}
div.img-top > img{
    width:100%;
    height: 100%;
    border-radius: 50%;
}
/*=================================================*/

div.direita1{
    width: 42%;
    height: 100%;
}
div#duvidas{
    margin-top: 40px;
}
#duvidas > p{
    margin: 0;
    padding: 10px 10px 0px 10px;
}
#duvidas > p > span > a{
    color: black;
}

/*================Criadores do site================*/

article.criadores{
    border: 2px solid black;
    background-color: burlywood;
    margin: auto;
    margin-top: 40px;
    margin-bottom: 10px;
    width: 90%;
    height: 18em;
    display: flex;
    border-radius: 20px;
}
div.esquerda2{
    width: 30%;
}
div.direita2{
    width: 70%;
}

div.foto-criadores{
    height: 99.4%;
}
.foto-criadores > img{
    width: 100%;
    height: 100%;
    border-radius: 20px;
}

.txt-card-criadores > h1{
    margin: 0;
    padding: 8px;
    text-indent: 7px;
    font-size: 2.2em;
    font-family: var(--fonte-titulos);
}
.txt-card-criadores > P{
    margin: 0;
    padding: 15px 8px 0px 8px;
    text-align: justify;
    line-height: 24px;
    text-indent: 10px;
    font-size: 1.2em;
    font-family: var(--fonte-txt);
}


div.redes-sociais{
    margin-top: 10px;
    padding-left: 20px;
}
.redes-sociais > p{
    margin: 0;
}
.redes-sociais > p > span > a{
    text-decoration: none;
    font-style: italic;
    color: black;
}
#a1{
    text-decoration: underline;
}