@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Pridi:wght@200;300;400;500;600;700&display=swap');

:root{
    --cor:#FF5C00;
    --fonte-txt:'Roboto', sans-serif;
    --fonte-especial: 'Pridi', serif;
}
html{
    scroll-behavior: smooth;
}
div#la{
    padding-top: 6px;
}
a#l{
    background-color: black;
}
body{
    color: white;
    margin: 0;
    font-family: var(--fonte-txt);
}
.cursos-enem{
    background-image: url(../logos-img/6.png);
    background-repeat: no-repeat;
    background-size: 100% 100%;
}
#semfundo{
    background-image: none;
    border-bottom: 2px solid var(--cor);
}
.cursos-enem > h1, #videos-enem > h1{
    font-family: var(--fonte-especial);
    font-size: 6em;
    text-shadow: 0px 20px 40px  rgba(255, 255, 255, 0.5);
    margin-left: 100px;
    margin-right: 400px;
}
#videos-enem > h1{
    margin-left: 160px;
}
.cursos-enem > h1 > img, #videos-enem > h1 > img{
    height: 1.2em;
    width: 0.6em;
}
.box{
    border: 4px solid white;
    border-radius: 40px;
    padding: 8px;
    display: flex;
    margin-left: 100px;
    margin-bottom: 50px;
    width: 70vw;
}
#esquerda1,#esquerda2,#esquerda3, #esquerda4,#esquerda5{
    width: 35%;
}
#direita1 , #direita2, #direita3, #direita4,#direita5{
    width: 65%;
    padding: 10px;
}
#direita1 > p, #direita2 > p, #direita3 > p, #direita4 > p,#direita5 > p{
    font-size: 1.4em;
    line-height: 30px;
}
a.top{
    color: white;
    font-size: 1.4em;
    font-family: var(--fonte-especial);
    font-weight: 500;
    padding: 6px 10px 8px 10px;
    border-radius: 40px;
    background-color: #bb4907;
    transition: 0.5s;
}
a.top:hover{
    padding: 8px 16px 10px 16px;
    font-size: 1.5em;
    background-color: #FF5C00;
}
span{
    color: #FF5C00;
}
#videos-enem{
    background-image: url(../logos-img/7.png);
    background-repeat: no-repeat;
    background-position: center center;
}
img.vid{
    border-radius: 20px 20px 0px 0px;
}
article{
    border: 4px solid white;
    border-radius: 40px;
    padding: 20px;
    margin: 80px 299px 80px 160px;
}
.box-videos{
    padding-bottom: 20px;
}
.logo{
    border-bottom: 1px solid #f8620c;
}
.logo > picture > img{
    width: 100%;
}
.txt{
    padding: 10px;
    font-size: 1.2em;
    line-height: 30px;
}
.txt > h1{
    margin: 0;
    color: var(--cor);
    font-size: 1.4em;
    margin-top: 20px;
    margin-bottom: 6px;
    border-top: 1px solid var(--cor);
}
a.videos{  
    font-size: 1.3em;
    font-weight: bolder;
    font-family: var(--fonte-especial);
    font-weight: 600;
    padding: 5px 16px 5px 16px;
    margin: 0;
    border: none;
    border-radius: 40px;
    background-color: white;
    color: black;
    transition: 0.5s;
}
a.videos:hover{
    background-color: #f8620c;
    color: white;
}
@media only screen and (max-width:900px){
    .cursos-enem > h1, #videos-enem > h1{
        margin-left: 20px;
        margin-right: 20px;
    }
    .box{
        margin-left: 30px;
        width: 88vw;
    }
    article{
        margin: 80px 30px 80px 30px;
    }
    .logo > picture > img{
        width: 100%;
    }
}
@media only screen and (max-width:600px){
    .cursos-enem > h1, #videos-enem > h1{
        font-size: 4.5em;
    }
    .box{
        flex-direction: column;
        width: 74vw;
        margin: auto;
        margin-bottom: 40px;
        padding-bottom: 10px;
    }
    #esquerda1,#esquerda2,#esquerda3,#esquerda4,#esquerda5{
        width: 100%;
        text-align: center;
    }
    #direita1,#direita2,#direita3,#direita4,#direita5{
        width: 94%;
        text-align: center;
    }
    .link{
        margin-left: 60px;
    }
}
@media only screen and (max-width:430px){
    .cursos-enem > h1,#videos-enem > h1{
        font-size: 3em;
    }
    .box{
        width: 84vw;
    }
    #esquerda2>img{
        width: 100%;
    }
    .link{
        margin-left: 30px;
    }
    article{
        margin: 80px 14px 80px 14px;
        padding: 10px;
        
    }
    a.videos{
        margin-left: 40px;
    }
    article{
        margin: 80px 14px 80px 14px;
        padding: 10px;
        
    }
}