footer{
    margin: 0;
    padding: 3px;
    border: 1px solid white;
    width: 99.4%;
    height: 30vh;
    display: flex;
}
#ladoA{
    border: 1px solid red;
    width: 30%;
    padding: 10px;
}
#ladoB{
    border: 1px solid red;
    width: 30%;
    padding: 10px;
}
#ladoA > h2, #ladoB > h2{
    margin: 0%;
    font-size: 2em;
}
#ladoA > p, #ladoB > p{
    font-size: 1.3em;
}
#ladoC{
    border: 1px solid red;
    width: 40%;
    text-align: center;
}
#ladoC > img{
    padding-top: 60px;
}
.rodape{
    color: #FF8A00;
}