@import url('https://fonts.googleapis.com/css2?family=Pridi:wght@200;300;400;500;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;0,400;0,500;1,500;1,700;1,900&display=swap');


:root{
    --fonte-titulos:'Pridi', serif;
    --fonte-txt: 'Roboto', sans-serif;
}
/* footer */
footer {
    background-color: black;
    margin-top: 50px;
    width: auto;
    height: 100%;
    color: aliceblue;
    font-family: var(--fonte-txt);
    text-align: center;
}
aside{
    display: flex;
    margin-bottom: 20px;

}
aside > .sobre > .contatos {
    width: 30%;
    font-size: 0.9em;
    margin-left: 50px;
    margin-right: 50px;
}
aside > .sobre > .contatos > h2 {
    font-family: var(--fonte-titulos);
    font-size: 2em;
    margin: 5px;

}
aside  > .sobre > .duvidas {
    width: 30%;
    font-size: 0.9em;
    margin-left: 50px;
    margin-right: 50px;
}
aside > .sobre > .duvidas > h2 {
    font-family: var(--fonte-titulos);
    font-size: 2em;
    margin: 5px;
}

aside > .icons {
    width: 35%;
    height: 90px;
    margin-left: auto;
    margin-right: 20px;
}
.sobre {
    display: flex;
}

@media only screen and (max-width:900px){
    aside {
        flex-direction: column;
    }
    footer > aside > .sobre {
        display: flex;
    }
    footer > aside > .sobre > .contatos  {
        width: 50%;
        font-size: 0.7em;
        flex-direction: column;
        margin: 0;
    }
    footer > aside > .sobre > .duvidas  {
        margin: 0;
        width: 50%;
        font-size: 0.7em;
        flex-direction: column;
    }
    footer > aside > .icons {
        width: 99%;
    }

}

