@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap');

:root{
    --cor0:#FF5C00;
    --cor1:#010305;
    --cor2:#521F03;
    --font0:'Roboto', sans-serif;;
}

body{
    margin: 0;
    width: 90vw;
    margin: auto;
    color: white;
    background-color: var(--cor1);
    font-family: var(--font0);
}
header{
    margin-top: 30px;
}
#celular{
    border: 1px solid rgb(41, 36, 36);
    width: 90%;
    background-color: rgba(28, 29, 29, 0.651);
    display: flex;
    position: fixed;
    display: none;
}
#social{
    width: 63%;
    display: flex;
}
#social>a{
    padding: 0px 10px 0px 10px;
}
div#b1{
    width: 37%;
    text-align: center;
}
div#b1 > h1{
    margin: 0px;
    font-size: 2em;
}
span#a1{
    font-size: 1em;
}
span#a2{
    font-size: 0.90em;
}
nav > a{
    color:black;
    background-color: var(--cor0);
    font-size: 1.3em;
    font-weight: 800;
    text-decoration: none;
    padding: 7px 20px 7px 20px;
    margin-left: 50px;
    margin-right: 50px;
    border-radius: 18px;
}

#bloco1{
    display: flex;
    margin-top: 20px;
}
.esquerda1{
    width: 50%;
}
.esquerda1 > h1{
    margin: 0;
    font-size: 6em;
}
.enem1{
    font-size: 6em;
    text-shadow: 16px 18px 0px var(--cor2);
    font-weight: bold;
}
.enem{
    font-size: 6em;
    padding-left: 40px;
    text-shadow: 16px 18px 0px var(--cor2);
    font-weight: bold;
}

.centro1{
    width: 50%;
    text-align: end;
}
.redes-sociais{
    margin-top: 20px;
}
.redes-sociais > a{
    padding: 0px 16px;
}

.direita1 > h4{
    margin: 0;
    margin-top: 10px;
    font-size: 1.3em;
    font-weight: 400;
    line-height: 40px;
    margin-bottom: 16px;
}

.rodape{

    border-bottom: 1px solid var(--cor0);
}
.rodape > h2{
    margin: 0;
    text-align: center;
    font-size: 2em;
    margin-bottom: 8px;
}
#cor{
    background-color: var(--cor0);
    width: 600px;
    height: 20px;
    margin: auto;
}

/*--------------------Main----------------------------*/
main{
    margin-top: 10px;
}
/*--------------------A1----------------------------*/
#A1{
    border-bottom: 2px solid var(--cor0);
    height: 25em;
    display: flex;
    justify-content: center;
}
.esquerda2{
    margin: 20px 100px 20px 20px;
}
.direita2{
    margin: 20px 20px 20px 100px;
}
.esquerda2,.direita2{
    width: 28%;
    height: 22em;
}
.esquerda2 > p,.direita2 > p{
    margin: 0;
    margin-top: 16px;
    font-size: 1.2em;
    font-weight: 400;
    line-height: 24px;
    text-align: center;
}

.img1{
    width: 100%;
    height: 80%;
}
.img1 > img{
    width: 100%;
    height: 100%;
}
/*--------------------A2----------------------------*/
#enem{
    margin-top: 30px;
}
#enem > h1{
    margin: 0;
    font-size: 4em;
    color: var(--cor0);
}
#penem{
    font-size: 0.6em;
    padding-left: 8px;
}
#enem > h2{
    font-weight: 400;
}
#destaque1{
    border-radius: 50%;
    padding: 6px;
    background-color: var(--cor0);
    font-size: 1.7em;
    font-weight: 500;
}
#lista-cursos{
    margin-top: 40px;
    display: flex;
    flex-direction: column;
}
#lista-cursos > a{
    width: 300px;
    font-size: 1.4em;
    text-decoration: none;
    font-weight: 400;
    padding-bottom: 14px;
    color: white;
}
.destaque2{
    border-radius: 50%;
    padding: 4px;
    background-color: var(--cor0);
}
.botao{
    margin-top: 20px;
    border: 1px solid white;
    background-color: white;
    border-radius: 40px;
    width: 420px;
    height: 50px;
}
.botao > h1{
    margin: 0;
    margin-top: 12px;
    font-weight: 600;
    font-size: 1.4em;
    text-align: center;
    color: black;
}
/*--------------------A3----------------------------*/
#ingles{
    margin-top: 40px;
    border-bottom: 2px solid var(--cor0);
}
#ingles > h1{
    margin: 0;
    font-size: 4em;
    color: var(--cor0);
}
@media only screen and (max-width:900px){
    #celular{
        display: flex;
    }
    div#b1{
        display: block;
    }
    nav{
        display: none;
        margin-top: 45px;
        margin-left: 230px;
        position: fixed;
    }
    nav > a{
        display: block;
        font-size: 1em;
        width: 100px;
        text-align: center;
        margin-left: 0px;
        margin-right: 0px;
        margin-bottom: 4px;
    }
    #bloco1{
        flex-direction: column-reverse;
    }
    .esquerda1{
        width: 100%;
    }
    .esquerda1 > h1{
        font-size: 4.5em;
        padding-top: 40px;
    }
    .enem1{
        font-size: 4.5em;
        text-shadow: 13px 14px 0px var(--cor2);
    }
    .enem{
        font-size: 4.5em;
        padding-left: 20px;
        text-shadow: 13px 14px 0px var(--cor2);
    }
    
    .centro1{
        width: 100%;
        margin-bottom: 20px;
    }
    .redes-sociais{
        padding-top: 30px;
        text-align: start;
        display: none;
    }
    .redes-sociais > a{
        padding: 0px 20px;
    }

    .direita1 > h4{
        margin-top: 20px;
        font-size: 1.2em;
    }
    
    .rodape > h2{
        font-size: 1.4em;
        margin-bottom: 10px;
    }
    #cor{
        width: 450px;
        height: 16px;
    }
    main{
        margin-top: 20px;
    }
    /*--------------------A1----------------------------*/
    #A1{
        height: auto;
        flex-direction: column;
    }
    .esquerda2,.direita2{
        width: 60%;
        margin:auto;
        margin-bottom: 30px;
        padding-bottom: 24px;
    }
    .esquerda2 > p,.direita2 > p{
        font-size: 1.4em;
    }
    /*--------------------A2----------------------------*/
    #enem > h1{
        font-size: 4em;
    }
    #enem > img{
        width: 50%;
    }
    #enem > h2{
        font-size: 1.3em;
        text-align: justify;
        line-height: 30px;
    }
    .botao{
        width: 300px;
        height: 40px;
    }
    .botao > h1{
        font-size: 1.1em;
        margin-top: 10px;
    }
    /*--------------------A3----------------------------*/
    #ingles > h1{
        font-size: 4em;
    }
    #ingles > img{
        width: 50%;
    }
}

@media only screen and (max-width:700px){
    body{
        width: 90vw;
    }
    nav > a{
        display: block;
        font-size: 1em;
        width: 100px;
        text-align: center;
        margin-left: 0px;
        margin-right: 0px;
        margin-bottom: 4px;
    }
    #bloco1{
        flex-direction: column-reverse;
    }
    .esquerda1{
        width: 100%;
    }
    .esquerda1 > h1{
        font-size: 4em;
    }
    .enem1{
        font-size: 4em;
        text-shadow: 11px 13px 0px var(--cor2);
    }
    .enem{
        font-size: 4em;
        padding-left: 20px;
        text-shadow: 11px 13px 0px var(--cor2);
    }
    
    .centro1{
        width: 100%;
        margin-bottom: 20px;
    }
    .redes-sociais{
        text-align: start;
    }
    .redes-sociais > a{
        padding: 0px 16px;
    }

    .direita1 > h4{
        margin-top: 20px;
        font-size: 1em;
        text-align: left;
    }
    
    .rodape > h2{
        font-size: 1.2em;
        margin-bottom: 10px;
    }
    #cor{
        width: 250px;
        height: 16px;
    }
    main{
        margin-top: 20px;
    }
    /*--------------------A1----------------------------*/
    #A1{
        height: auto;
        flex-direction: column;
    }
    .esquerda2,.direita2{
        width: 80%;
        margin: 0px 0px 30px 30px;
        padding-bottom: 24px;
    }
    .esquerda2 > p,.direita2 > p{
        font-size: 1.4em;
    }
    /*--------------------A2----------------------------*/
    #enem > h1{
        font-size: 3em;
    }
    #enem > img{
        width: 100%;
    }
    #enem > h2{
        font-size: 1em;
        text-align: justify;
        line-height: 30px;
    }
    .botao{
        width: 180px;
        height: 40px;
    }
    .botao > h1{
        font-size: 1em;
        margin-top: 12px;
    }
    /*--------------------A3----------------------------*/
    #ingles > h1{
        font-size: 3em;
    }
    #ingles > img{
        width: 100%;
    }
}